---
layout: handbook-page-toc
title: "Infrastructure Department Career Framework"
description: "The Infrastructure Department Career Framework consists of three major components. Each component are equally important for team member general professional development at GitLab."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_career_matrix_nav.erb") %>

## Infrastructure Department Career Framework

The Infrastructure Department career tracks are visualised on the [Engineering career development landing page](/handbook/engineering/career-development/#infrastructure-department).

The Infrastructure Department Career Framework consists of three major components:

1. Company Values Alignment
1. Engineering Function Leadership Competencies
1. Infrastructure Department Leadership and Technical Competencies

Each of these three components are equally important for team member general professional development at GitLab. It is important to note that performance is measured based on [general guidelines](/handbook/people-group/talent-assessment/) as defined by the People group.

For each job family, regardless of the level, in the Infrastructure department we are looking to grow team member skills:

1. Accountability - Describes expected level of responsibility
1. Credibility - Describes expected level of trust
1. Autonomy - Describes how a team member can shape their own and their team’s work
1. Team building - Describes how a team member helps grow their team

The expected team member competencies in the Infrastructure department at GitLab can be seen at the job level:

1. [Intern](/handbook/engineering/career-development/matrix/engineering/infrastructure/intern/)
1. [Associate](/handbook/engineering/career-development/matrix/engineering/infrastructure/associate/)
1. [Intermediate](/handbook/engineering/career-development/matrix/engineering/infrastructure/intermediate/)
1. [Senior](/handbook/engineering/career-development/matrix/engineering/infrastructure/senior/)
1. Staff
1. Principal
1. Distinguished
1. Engineering Fellow

## Infrastructure specialties

To be added by each individual team as needed.
