---
layout: handbook-page-toc
title: Data Science
description: "The Data Science stage is focused on leveraging ML in the GitLab product and preventing abuse in the application."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

Build a diverse and global development team to support and drive results across the section,
while maintaining [our values](/handbook/values/) and [unique way of working](/company/culture/all-remote/guide/).

## Mission

Drive results through iterative development as we add ModelOps and Anti-abuse features into the product.
Our teams are data-driven, support [dogfooding](/direction/dogfooding/), and [collaboration](/handbook/values/#collaboration) within GitLab and the wider community.

## Groups

* [AI Assisted](./ai-assisted/)
* [Anti-abuse](./anti-abuse/)

### Business Continuity - Coverage and Escalation

The following table shows who will provide cover if one or more of the Data-Science Engineering management team are unable to work for any reason.

| Team Member        | Covered by            | Escalation     |
| -----              |-----------------------| -----          |
| Wayne Haber        | Christopher Lefelhocz | Ashley Kramer   |
| Phil Calder        | Jay Swain             | Wayne Haber    |
| Jay Swain          | Phil Calder           | Wayne Haber    |
| Monmayuri          | Wayne Haber           | Wayne Haber    |

If an issue arises  - such as a production incident or feature change lock - that a team member needs management support with when their direct manager is not online, the team member should reach out to any Data-Science Engineering Manager by mentioning in `#data-science-section`. The manager can help the team member follow the process and co-ordinate to ensure the team member has the necessary support.

If an Engineer is unavailable the Engineering Manager will reassign open issues and merge requests to another engineer, preferably in the same [group](#all-team-members).

Some people management functions may require escalation or delegation, such as [Workday](/handbook/people-group/workday/workday-guide/) and [Navan Expense](/handbook/business-technology/enterprise-applications/guides/navan-expense-guide/).

This can be used as the basis for a business continuity plan (BCP),
as well as a general guide to Data Science Engineering continuity in the event of one or more team members being unavailable for any reason.

## Dashboards

<%= partial "handbook/engineering/metrics/partials/_cross_functional_section_dashboard.erb", locals: { filter_value: "ModelOps" } %>

### Code Suggestions

1. [Usage](https://www.google.com/url?q=https://app.periscopedata.com/app/gitlab/1143612/Code-Suggestions-Usage&sa=D&source=docs&ust=1689883679686823&usg=AOvVaw3qTTJxphVVyOPRJ2HA8hbs)
2. [Trends in Errors / Failed suggestion requests or authentication attempts](https://log.gprd.gitlab.net/app/dashboards#/view/6c947f80-7c07-11ed-9f43-e3784d7fe3ca?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-6h,to:now)))
3. [Acceptance Rate](https://log.gprd.gitlab.net/app/dashboards#/view/6c947f80-7c07-11ed-9f43-e3784d7fe3ca?_g=h@2294574) (working on getting this into Sisense)
4. Cost tracking
5. [Language information](https://dashboards.gitlab.net/d/code_suggestions-language/code-suggestions-language?orgId=1)
6. [SLIs](https://dashboards.gitlab.net/d/code_suggestions-main/code-suggestions-overview?orgId=1)
7. [Triton requests](https://dashboards.gitlab.net/d/code_suggestions-triton/code-suggestions-triton?orgId=1)
8. [Rails API Latency](https://dashboards.gitlab.net/d/api-rails-controller/api-rails-controller?orgId=1&var-PROMETHEUS_DS=Global&var-environment=gprd&var-stage=main&var-controller=Grape&var-action=POST%20%2Fapi%2Fcode_suggestions%2Fcompletions&from=now-15m&to=now)
